{% extends 'layout.html' %}

{% block content %}
<html>
<head>
    <title>cofigos de spins y aldeas</title>
</head>
<body>
<h3>codigos de spins (en funcionamiento):</h3>
<ul>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
</ul>
</body>
</html>

<!--lista de codes de spins expirados-->
<h3>codes de spins (expirados)</h3>
<ul>
    <li>BigBattyBoi! (90 Spins)</li>
    <li>SkunkBruv! (90 Spins)</li>
    <li>TaknaP1zza! (90 Spins)</li>
    <li>ReUSkunkedMate! (90 Spins)</li>
    <li>EngLishGalFiona! (25 Spins)</li>
    <li>TingsYaknow! (25 Spins)</li>
    <li>DeTingTingsTing! (25 Spins)</li>
    <li>YaKnoDeVibezman! (25 Spins)</li>
    <li>ThickUpz! (25 Spins)</li>
    <li>sickNHealthy! (25 Spins)</li>
    <li>shotyofaceFam! (25 Spins)</li>
    <li>'BigManBadManTing! (25 Spins)</li>
    <li>DeTINGZZZ! (25 Spins)</li>
    <li>l00kaTM3Foo! (25 Spins)</li>
    <li>sockDropItFans! (25 Spins)</li>
    <li>SweeOnlyHands! (25 Spins)</li>
</ul>

<h3>codes de aldeas:</h3>
<h3>ember:</h3>
<ul>
    <li>5CcKMv</li>
    <li>4ANhVK</li>
    <li>LeEYmO</li>
    <li>D14qBs</li>
    <li>yivj5F</li>
    <li>m3TF_r</li>
    <li>GtTDBG</li>
    <li>y6D_dU</li>
    <li>HxXdsk</li>
    <li>s-hUkX</li>
    <li>vci70V</li>
    <li>nUveIH</li>
    <li>-FyTVm</li>
    <li>H6x73q</li>
    <li>6agxK4</li>
    <li>uv8LVI</li>
    <li>EqgCYg</li>
    <li>nCXw0b</li>
    <li>YtkmW1</li>
    <li>ptoPNB</li>
    <li>m0FWpS</li>
    <li>pFFT2B</li>
    <li>_w_Rg1</li>
    <li>04uyhz</li>
    <li>uhL7ak</li>
    <li>bby_MU</li>
    <li>yuIH07</li>
    <li>kwcIZc</li>
    <li>bFL8yK</li>
    <li>Arng8j</li>
    <li>1lncF2</li>
    <li>aGFRR1</li>
    <li>UHzzgJ</li>
    <li>yL-tkE</li>
    <li>5wiMo3</li>
    <li>mH8CwN</li>
    <li>3G-scW</li>
    <li>nkxMNE</li>
    <li>rtBR5G</li>
    <li>ZwchTd</li>
    <li>4cHW_L</li>
    <li>DXVCRC</li>
    <li>1VOztM</li>
    <li>iyZ5xW</li>
    <li>60Zp5n</li>
    <li>TYtscv</li>
    <li>DaRiOg</li>
    <li>BZE-VI</li>
    <li>IayaKH</li>
    <li>HsZqIZ</li>
    <li>0rPLnK</li>
</ul>

<h3>obelisk:</h3>

<ul>
    <li>2QLKJM</li>
    <li>2RAchb</li>
    <li>2X0dpj</li>
    <li>3D9E_U</li>
    <li>3RfgxS</li>
    <li>3UKFJ4</li>
    <li>4Akvn2</li>
    <li>7oC-He</li>
    <li>8hqjWO</li>
    <li>9ae9ra</li>
    <li>9FLsXv</li>
    <li>9qDYIw</li>
    <li>9UQy3j</li>
    <li>AB7FiP</li>
    <li>ahNKzW</li>
    <li>aHOoBk</li>
    <li>B2LOMB</li>
    <li>BGjqnr</li>
    <li>dfLXmo</li>
    <li>dzuHJH</li>
    <li>E0Xgdq</li>
    <li>eb0Ec8</li>
    <li>EeCmWi</li>
    <li>fVRtOq</li>
    <li>fXi1h1</li>
    <li>GtZN40</li>
    <li>H2-a28</li>
    <li>HJcnLy</li>
    <li>HRDox5</li>
    <li>JYKuIK</li>
    <li>K3TtzE</li>
    <li>KhPK0U</li>
    <li>Kuh1H6</li>
    <li>kuKLv0</li>
    <li>Kya-NL</li>
    <li>m8Vxcg</li>
    <li>maiboK</li>
    <li>MAiHFD</li>
    <li>miPpJr</li>
    <li>mqeRUI</li>
    <li>mrmXGS</li>
    <li>msKaY3</li>
    <li>mw3qEF</li>
    <li>nSw_QA</li>
    <li>oi4Dbc</li>
    <li>pBA7Uz</li>
    <li>Pd6ZsH</li>
    <li>PiWPwp</li>
    <li>QIjafV</li>
    <li>QUOnXE</li>
    <li>r92PyJ</li>
</ul>

<h3>haze:</h3>

<ul>
    <li>3_-TXr</li>
    <li>3pcNh6</li>
    <li>6ibt4-</li>
    <li>6N9ixR</li>
    <li>7YmmCy</li>
    <li>7yurWC</li>
    <li>90MEEk</li>
    <li>9QHA_V</li>
    <li>9YtUhy</li>
    <li>aJvWUU</li>
    <li>aM13ee</li>
    <li>aWh4QL</li>
    <li>aY26Tr</li>
    <li>CK3D59</li>
    <li>DzKmEf</li>
    <li>E7cdHq</li>
    <li>E-7nPL</li>
    <li>eXy272</li>
    <li>F_gap2</li>
    <li>FgZuTz</li>
    <li>HXLwNO</li>
    <li>jWt92A</li>
    <li>k_u8P7</li>
    <li>kD_DIA</li>
    <li>KpD4NU</li>
    <li>KYq8L6</li>
    <li>lkH1qW</li>
    <li>M7iBAJ</li>
    <li>MribVO</li>
    <li>NkNBoK</li>
    <li>O4dAa3</li>
    <li>P0ehck</li>
    <li>qeNkLL</li>
    <li>rkWuKs</li>
    <li>rkWuKs</li>
    <li>S9D8cT</li>
    <li>SBEh8s</li>
    <li>SDSBKW</li>
    <li>TeHkVz</li>
    <li>twROnk</li>
    <li>UPLJzU</li>
    <li>US7Try</li>
    <li>UWi4tG</li>
    <li>UxAFVE</li>
    <li>VXbfAc</li>
    <li>XpbW9y</li>
    <li>y2mTuY</li>
    <li>y5WGyq</li>
    <li>yDT9yk</li>
    <li>YGurjD</li>
    <li>ysQ_ZJ</li>
</ul>

<h3>dunes:</h3>

<ul>
    <li>0K4i81</li>
    <li>0NcfC-</li>
    <li>0Skr9C</li>
    <li>0Wo-79</li>
    <li>0xKCX</li>
    <li>14Ej3</li>
    <li>3CawAD</li>
    <li>3IshtW</li>
    <li>5oFhPA</li>
    <li>7EjS9t</li>
    <li>AjwEAu</li>
    <li>aQ5TZg</li>
    <li>BdLajT</li>
    <li>bDwrof</li>
    <li>BYdg3w</li>
    <li>c0SiFd</li>
    <li>cYoTaM</li>
    <li>CYwQKi</li>
    <li>d70KTt</li>
    <li>dr88ze</li>
    <li>DTcsxH</li>
    <li>ePOSZ3</li>
    <li>F9SFuY</li>
    <li>FcdMVd</li>
    <li>Ff9sqK</li>
    <li>fGTOnk</li>
    <li>G4YBcx</li>
    <li>g8YL9n</li>
    <li>GcJtg2</li>
    <li>Gfbkaj</li>
    <li>ggozQ7</li>
    <li>gHLBhL</li>
    <li>Goc0Fg</li>
    <li>GVT0bT</li>
    <li>i3DHCQ</li>
    <li>iR2RMY</li>
    <li>jLm8Up</li>
    <li>K8doIb</li>
    <li>Kaf3mR</li>
    <li>kCLg19</li>
    <li>KVjaMZ</li>
    <li>mdlcGd</li>
    <li>ndCOWU</li>
    <li>NN6ncQ</li>
    <li>o3aNPG</li>
    <li>OYtz4z</li>
    <li>ozw2aF</li>
    <li>Pdb0KW</li>
    <li>PqnZg0</li>
    <li>qh56N8</li>
    <li>QhxxvH</li>
</ul>

<h3>training:</h3>
<ul>
    <li>1BUJ4W</li>
    <li>22MQia</li>
    <li>2f0Yta</li>
    <li>2MTn97</li>
    <li>2nGFdx</li>
    <li>32a934</li>
    <li>3BC510</li>
    <li>55XWav</li>
    <li>5VKnL4</li>
    <li>6D7kum</li>
    <li>6G0Cts</li>
    <li>7JNEXU</li>
    <li>7mhGqH</li>
    <li>7RYkW5</li>
    <li>836mQa</li>
    <li>8aCFEE</li>
    <li>8KzVA9</li>
    <li>8PMzUY</li>
    <li>971EqU</li>
    <li>98BXF0</li>
    <li>9-W8hh</li>
    <li>AqOT4h</li>
    <li>Avw0cE</li>
    <li>az2izZ</li>
    <li>BApm7S</li>
    <li>bHe1T6</li>
    <li>bpg5pS</li>
    <li>bZFMHL</li>
    <li>ccHvFG</li>
    <li>ceUjir</li>
    <li>cnsPDb</li>
    <li>COnPdW</li>
    <li>CwbQ1h</li>
    <li>D4OVcE</li>
</ul>

<h3>forest of embers:</h3>

<ul>
    <li>0fswpZ</li>
    <li>2d6s34</li>
    <li>2sccwO</li>
    <li>3iNo14</li>
    <li>3SKS8p</li>
    <li>4u0JUX</li>
    <li>5BHF4Q</li>
    <li>7uZVPC</li>
    <li>9uDQqW</li>
    <li>APWzfH</li>
    <li>bdCv5A</li>
    <li>BdnwRg</li>
    <li>beTi35</li>
    <li>bfrv1D</li>
    <li>bkVbUy</li>
    <li>Blrp5C</li>
    <li>BZdzxO</li>
</ul>

<h3>guarida akatsuki:</h3>

<ul>
    <li>1_DQfe</li>
    <li>1j6Pa</li>
    <li>1D1hc8</li>
    <li>1QjJaR</li>
    <li>25eTyN</li>
    <li>5EuFtZ</li>
    <li>6cHPIQ</li>
    <li>6CRN-P</li>
    <li>6rY9AB</li>
    <li>73fbYZ</li>
    <li>AfzLJX</li>
    <li>AO2tiv</li>
    <li>aoquYm</li>
    <li>AYlY</li>
    <li>b388Rv</li>
    <li>BJ-8H5</li>
    <li>bxdRPB</li>
    <li>c5Dmlo</li>
    <li>CaoauR</li>
    <li>Cog-j</li>
    <li>dFQQ2d</li>
    <li>dsN7Cr</li>
    <li>e7J17k</li>
    <li>EDN2Ma</li>
    <li>EHxwd0</li>
    <li>FbXYjB</li>
    <li>fcOB1A</li>
    <li>FHLDe3</li>
    <li>FOE2EY</li>
    <li>GnAn8f</li>
    <li>gYr0Y4</li>
    <li>hm6U8g</li>
    <li>hXjZYY</li>
    <li>i27a7H</li>
</ul>

<h3>war:</h3>

<ul>
    <li>2yqicv</li>
    <li>-4mycE</li>
    <li>adzBVR</li>
    <li>avXodn</li>
    <li>BkSTEN</li>
    <li>d_Z92O</li>
    <li>dCkx7C</li>
    <li>DPyLHT</li>
    <li>dttQxB</li>
    <li>EpefEq</li>
    <li>eWWqY9</li>
    <li>feub3n</li>
    <li>g4TdUa</li>
    <li>Hd67rr</li>
    <li>iQqtG6</li>
    <li>JC_QNh</li>
    <li>JcuP0p</li>
    <li>M3NMer</li>
    <li>kRVY6O</li>
    <li>MEwUFM</li>
    <li>mNLLzt</li>
    <li>MxW_Ue</li>
    <li>nqVJDE</li>
    <li>PcMCED</li>
    <li>RbH1SI</li>
    <li>RfuWaj</li>
    <li>rpbRMn</li>
    <li>SdUXCh</li>
    <li>SNRTm4</li>
    <li>TcCnZ9</li>
    <li>Tcp7JK</li>
    <li>uUT_br</li>
    <li>VegfVx</li>
    <li>VR-sWX</li>
</ul>

<h3>tempest:</h3>

<ul>
    <li>CSE6HC</li>
    <li>CT6-lS</li>
    <li>vMxphZ </li>
    <li>YVpjsv</li>
    <li>O4xIgg</li>
    <li>9f2WJ3</li>
    <li>bRbw0I</li>
    <li>7bo9OU</li>
    <li>FeXIFz</li>
    <li>gxAhtY</li>
    <li>n0Fyc3</li>
    <li>tt8e_2</li>
    <li>PkZ_OP</li>
    <li>qSV74R</li>
    <li>9zkAtq</li>
    <li>4c6sLy</li>
    <li>IjnRUh</li>
    <li>04kkSE</li>
    <li>f6jHO5</li>
    <li>b05wJy</li>
    <li>67LFSo</li>
    <li>TFxWpG</li>
    <li>dkqw7</li>
    <li>mErP2a</li>
    <li>WdhkxX</li>
    <li>AloRMx</li>
    <li>kAReYn</li>
    <li>fE38Yh</li>
    <li>6Ng0m</li>
    <li>0PB2ZV</li>
    <li>wbOzOq</li>
    <li>aSuBvR</li>
    <li>Y9vNcx</li>
    <li>BETPtE</li>
    <li>j2Trzo</li>
    <li>MYv_Sk</li>
    <li>QAwVP1</li>
    <li>MvJ6_O</li>
    <li>coziR3</li>
    <li>b3_8YJ</li>
    <li>JRg-9M</li>
    <li>nUcSHs</li>
    <li>JjE-sX</li>
    <li>pe7T6x</li>
    <li>WHpfbS</li>
    <li>O63SkZ</li>
    <li>4kRiQz</li>
    <li>Wf-bN</li>
    <li>0AWnn1</li>
    <li>r4mQiz</li>
</ul>

<h3>deva boss:</h3>

<ul>
    <li>da8WvM</li>
    <li>7i0IFd</li>
    <li>WjTH0N</li>
    <li>rZhIj2</li>
    <li>9dcyVN</li>
    <li>3EYKRh</li>
    <li>Oo2c1N</li>
    <li>xhv2X5</li>
    <li>Td8vyK</li>
    <li>SHXQbY</li>
    <li>1_GYOY</li>
    <li>qwxRhX</li>
    <li>_f--UL</li>
    <li>NODIWo</li>
    <li>JlC0XI</li>
    <li>eJXZvC</li>
    <li>GmNiqW</li>
    <li>2nPPj1</li>
    <li>rUeZdQ</li>
    <li>Tmjj0f</li>
    <li>FW024o</li>
    <li>B3Q0Qa</li>
    <li>wXjVP9</li>
    <li>hcbmbf</li>
    <li>Q7o6Me</li>
    <li>U_NB84</li>
    <li>xSPwae</li>
    <li>Lz2V1S</li>
    <li>f4HKqK</li>
    <li>AEBQZs</li>
    <li>Sb1tqy</li>
    <li>wo04ej</li>
    <li>OTwMCj</li>
    <li>ArBoSS</li>
</ul>

<h3>new ember:</h3>

<ul>
    <li>NGcYZO</li>
    <li>WZiXVK</li>
    <li>Mzgw5G</li>
    <li>sw8BDN</li>
    <li>Ma8rWy</li>
    <li>Zm8Mt6</li>
    <li>nGYgg0</li>
    <li>ONKRea</li>
    <li>AVYeio</li>
    <li>_v8zAV</li>
    <li>aI-dSR</li>
    <li>C-SXO4</li>
    <li>EiAM41</li>
    <li>7LmBZD</li>
    <li>mzNBVc</li>
    <li>-vfqIF</li>
    <li>mIZ12q</li>
    <li>-SEBVT</li>
    <li>60_X5-</li>
    <li>FIQhKe</li>
    <li>M5jzBA</li>
    <li>x0COSS</li>
    <li>DNzO8B</li>
    <li>NFTVIO</li>
    <li>8bHz1a</li>
    <li>Irqiav</li>
    <li>-FmnVE</li>
    <li>RCQSzg</li>
    <li>CM_sRX</li>
    <li>kzLTOC</li>
    <li>qEIXGX</li>
    <li>BwHFRa</li>
    <li>sQNq2r</li>
    <li>62ixNd</li>
</ul>


{% endblock %}